  

@import url('./side.css');
@import url('./login.css');

h1 {
    color: red;
}

div {
    font-size: 25px;
    font-family: cursive;
}

a::before {
    content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 2px;
        width: 18px;
        height: 14px;
        background: url(//image.genie.co.kr/imageg/web/blt/hd_5.0.png) no-repeat 0 0;}
    

#abc {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 2px solid rgb(9, 101, 221);
}

#abc::after {
    float: right;
    position: relative;
    width: 43px;
    height: 36px;
    border: 0;
    line-height: 0;
    background: url(//image.genie.co.kr/imageg/web/blt/hd_5.0.png) no-repeat -42px 5px;
}

span {
    height: 20px;
    width: 25px;
    color: rgb(9, 101, 221);
    border-bottom: 0px solid #000;
}