
/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* common 공통설정 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header style */
header {
    width: 100%;
    /* background: red; */
    /* background: palegreen; */
    height: 150px;
    /* 모든 후손 텍스트 중앙정렬 */
    line-height: 150px;
    /* 박스 겹칠 때 position으로
    띄우기 */
    position: relative;
   
}

header .inner-header {
    /* margin이 100보다 작아야
    margin */
    width: 100%;
    /* background: orange; */
    margin: 0 auto;
}

/* 박스를 먼저 만들고
박스 안에 가로 100%
가로 세로 중에 하나 제어 시키면
하나는 자동으로  */

header .inner-header .logo {
    /* background: tomato; */
    width: 75%;
    margin: 0 auto;
    
}

header .inner-header .logo input#sc-id {
    position: relative;
    width: 366px;
    border-bottom: 2px solid #0096FF;
    padding-top: 18px;
    border-top: 1px  #fff;
    border-left: 1px  #fff;
    border-right: #fff;
}

header .inner-header .logo input.btn-submit {
    margin-right: 50px;
}


header .inner-header div.search-wrap h1.logo {
    /* background: tomato; */
    
}



header .inner-header .hd-top {
    width: 75%;
    /* background: skyblue; */
    margin: 10px auto;
    font-size: 17px;
}

header .inner-header .hd-top nav.buy {
  float: left;
}



header .inner-header .hd-top nav.buy ul li {
    float: left;
    
}

header .inner-header .hd-top nav.buy ul li:first-child {
    margin-left: 20px;
}

header .inner-header .hd-top nav.buy ul li.buy-icon {
    font-weight: bold;
}

header .inner-header .hd-top nav.buy ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 235px;
    width: 18px;
    height: 17px;
    background: url(//image.genie.co.kr/imageg/web/blt/hd_5.0.png) no-repeat 0 0;
}

header .inner-header .hd-top nav ul li span {
    color: gray;
}

header .inner-header .hd-top nav.web {
    float: right;
}

header .inner-header .hd-top nav.web ul li {
    float: left;
    
}

header .inner-header .hd-top nav.web ul li.web-player {
    color: #0096FF;;
    font-weight: bold;

}

header .inner-header div.search-wrap {
    /* background: blue; */
    width: 100%;
    margin: 30px auto;
    
}

header .inner-header div.search-wrap input.btn-submit {
    right: 880px;
    top: 15px;
    float: right;
    position: relative;
    width: 43px;
    height: 36px;
    border: 0;
    line-height: 0;
    background: url(//image.genie.co.kr/imageg/web/blt/hd_5.0.png) no-repeat -42px 5px;
}





header .inner-header div.gnb nav.hug ul li {
    float: left;
    
}

header .inner-header div.gnb nav.hug ul li:first-child {
    margin-left: 60px;
}



header .inner-header div.gnb {
    width: 100%;
    /* background: blue; */
    margin: 0  ;
    border-bottom: 1px solid lightgray;
}

header .inner-header div.gnb .hug {
    
    /* background: red; */
    display: block;
    position: relative;
    padding: 0 27px 14px 0;
    color: #27282d;
    height: 15px;
    font-size: 24px;
    font-family: "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
    font-weight: 700;
    margin-left: 175px;
    margin-bottom: 15px;
}

header .inner-header div.gnb .hug li {
   margin-right: 25px;
   margin-bottom: 5px;
}

header .inner-header div.gnb .login {
    left: 1525px;
    bottom: 1px;
    position: absolute;
    font-family: dotum, 돋움, sans-serif, "Segoe UI Symbol";
} 

header .inner-header div.gnb .login ul li {
    float: right;
}

header .inner-header div.gnb .login ul li span {
    font-weight: bold;
}


i {
    font-size: 15px;
    opacity: 0.4;
}

/* //header */




/* genie mv */
section.geniemv {
    display: block;
    background: #fff;
    padding: 80px 0;
    width: 100%;
    margin: 40px auto 60pxs;
    
}

section.geniemv div.title {
    width: 75%;
    margin: 10px auto;
}

section.geniemv div.title ul.mv {
   
}

section.geniemv h2.sub-title {
    float: left;
    font-size: 24px;
    font-weight: bold;
    bottom: 50px;
    
}

section.geniemv ul.mv li {
    float: left;
    margin-left: 20px;
}

section.geniemv ul.mv li:first-child {
    color: rgb(0, 110, 255);
    font-weight: 700;
}




section.geniemv ul.list-mv {
    /* background: blue; */
    width: 75%;
    box-sizing: border-box;
    margin: 50px auto;
    height: 400px;
    overflow: hidden;
    
}


section.geniemv ul.list-mv li {
    border: 1px solid lightgray;
    width: 22.5%;
    float: left;
    margin-right: 2%;
    position: relative;
    
}



section.geniemv ul.list-mv li a .img-box {
    width: 100%;
    height: 251px;
    /* background: red; */
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

section.geniemv ul.list-mv li a .img-box img {
    width: 100%;
}

section.geniemv ul.list-mv li a .bottom {
    margin-left: 10px;
}

section.geniemv ul.list-mv li a .bottom span {
    background: #000;
    color: #fff;
    position: absolute;
    top: 235px;
    left: 282px;
    
}

section.geniemv ul.list-mv li a .bottom h3 {
    border: 1px solid tan;
    border-radius: 3px;
    display: block;
    width: 35px;
    text-align: center;
    font-size: 13px;
    padding: 3px;
}

section.geniemv ul.list-mv li a .bottom p {
    padding: 15px 0;
}

section.geniemv ul.list-mv li a .bottom p.name {
    font-weight: 700;
    font-size: 20px;
}

section.geniemv ul {
    
}
/* //genie mv */


/* editer */
section.editer-title {
    width: 75%;
    margin: 170px auto 100px;
    font-family:  "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

section.editer-title ul.list {
    display: flex;
    
   
}


section.editer-title ul li {
    width: 25%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px; 
}





